@model Oglasi.Models.Oglas

@{
    ViewData["Title"] = "Delete";
}

<h1>Отстранување на оглас</h1>

<h3>Дали сте сигурни дека сакате да го отстраните огласот?</h3>
<div>
    <h4>Оглас</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeOglas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeOglas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeKatNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeKatNavigation.ImeKat)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOglas" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Листата на огласи</a>
    </form>
</div>
