@model Oglasi.Models.ZachuvanOd

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZachuvanOd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOglasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOglasNavigation.IdOglas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoImeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnickoImeNavigation.KorisnickoIme)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
